<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.BackupDevicesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.BackupDevices">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_desc" jdbcType="VARCHAR" property="type_desc" />
    <result column="physical_name" jdbcType="VARCHAR" property="physical_name" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.BackupDevices">
    insert into backup_devices (name, type, type_desc, 
      physical_name)
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{type_desc,jdbcType=VARCHAR}, 
      #{physical_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.BackupDevices">
    insert into backup_devices
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="type_desc != null">
        type_desc,
      </if>
      <if test="physical_name != null">
        physical_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="type_desc != null">
        #{type_desc,jdbcType=VARCHAR},
      </if>
      <if test="physical_name != null">
        #{physical_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>