<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.CredentialsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Credentials">
    <result column="credential_id" jdbcType="INTEGER" property="credential_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="credential_identity" jdbcType="VARCHAR" property="credential_identity" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modify_date" />
    <result column="target_type" jdbcType="VARCHAR" property="target_type" />
    <result column="target_id" jdbcType="INTEGER" property="target_id" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Credentials">
    insert into credentials (credential_id, name, credential_identity, 
      create_date, modify_date, target_type, 
      target_id)
    values (#{credential_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{credential_identity,jdbcType=VARCHAR}, 
      #{create_date,jdbcType=TIMESTAMP}, #{modify_date,jdbcType=TIMESTAMP}, #{target_type,jdbcType=VARCHAR}, 
      #{target_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Credentials">
    insert into credentials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="credential_id != null">
        credential_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="credential_identity != null">
        credential_identity,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="modify_date != null">
        modify_date,
      </if>
      <if test="target_type != null">
        target_type,
      </if>
      <if test="target_id != null">
        target_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="credential_id != null">
        #{credential_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credential_identity != null">
        #{credential_identity,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date != null">
        #{modify_date,jdbcType=TIMESTAMP},
      </if>
      <if test="target_type != null">
        #{target_type,jdbcType=VARCHAR},
      </if>
      <if test="target_id != null">
        #{target_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>