<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.DatabasesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Databases">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="database_id" jdbcType="INTEGER" property="database_id" />
    <result column="source_database_id" jdbcType="INTEGER" property="source_database_id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="compatibility_level" jdbcType="TINYINT" property="compatibility_level" />
    <result column="collation_name" jdbcType="VARCHAR" property="collation_name" />
    <result column="user_access" jdbcType="TINYINT" property="user_access" />
    <result column="user_access_desc" jdbcType="VARCHAR" property="user_access_desc" />
    <result column="is_read_only" jdbcType="BIT" property="is_read_only" />
    <result column="is_auto_close_on" jdbcType="BIT" property="is_auto_close_on" />
    <result column="is_auto_shrink_on" jdbcType="BIT" property="is_auto_shrink_on" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="state_desc" jdbcType="VARCHAR" property="state_desc" />
    <result column="is_in_standby" jdbcType="BIT" property="is_in_standby" />
    <result column="is_cleanly_shutdown" jdbcType="BIT" property="is_cleanly_shutdown" />
    <result column="is_supplemental_logging_enabled" jdbcType="BIT" property="is_supplemental_logging_enabled" />
    <result column="snapshot_isolation_state" jdbcType="TINYINT" property="snapshot_isolation_state" />
    <result column="snapshot_isolation_state_desc" jdbcType="VARCHAR" property="snapshot_isolation_state_desc" />
    <result column="is_read_committed_snapshot_on" jdbcType="BIT" property="is_read_committed_snapshot_on" />
    <result column="recovery_model" jdbcType="TINYINT" property="recovery_model" />
    <result column="recovery_model_desc" jdbcType="VARCHAR" property="recovery_model_desc" />
    <result column="page_verify_option" jdbcType="TINYINT" property="page_verify_option" />
    <result column="page_verify_option_desc" jdbcType="VARCHAR" property="page_verify_option_desc" />
    <result column="is_auto_create_stats_on" jdbcType="BIT" property="is_auto_create_stats_on" />
    <result column="is_auto_update_stats_on" jdbcType="BIT" property="is_auto_update_stats_on" />
    <result column="is_auto_update_stats_async_on" jdbcType="BIT" property="is_auto_update_stats_async_on" />
    <result column="is_ansi_null_default_on" jdbcType="BIT" property="is_ansi_null_default_on" />
    <result column="is_ansi_nulls_on" jdbcType="BIT" property="is_ansi_nulls_on" />
    <result column="is_ansi_padding_on" jdbcType="BIT" property="is_ansi_padding_on" />
    <result column="is_ansi_warnings_on" jdbcType="BIT" property="is_ansi_warnings_on" />
    <result column="is_arithabort_on" jdbcType="BIT" property="is_arithabort_on" />
    <result column="is_concat_null_yields_null_on" jdbcType="BIT" property="is_concat_null_yields_null_on" />
    <result column="is_numeric_roundabort_on" jdbcType="BIT" property="is_numeric_roundabort_on" />
    <result column="is_quoted_identifier_on" jdbcType="BIT" property="is_quoted_identifier_on" />
    <result column="is_recursive_triggers_on" jdbcType="BIT" property="is_recursive_triggers_on" />
    <result column="is_cursor_close_on_commit_on" jdbcType="BIT" property="is_cursor_close_on_commit_on" />
    <result column="is_local_cursor_default" jdbcType="BIT" property="is_local_cursor_default" />
    <result column="is_fulltext_enabled" jdbcType="BIT" property="is_fulltext_enabled" />
    <result column="is_trustworthy_on" jdbcType="BIT" property="is_trustworthy_on" />
    <result column="is_db_chaining_on" jdbcType="BIT" property="is_db_chaining_on" />
    <result column="is_parameterization_forced" jdbcType="BIT" property="is_parameterization_forced" />
    <result column="is_master_key_encrypted_by_server" jdbcType="BIT" property="is_master_key_encrypted_by_server" />
    <result column="is_published" jdbcType="BIT" property="is_published" />
    <result column="is_subscribed" jdbcType="BIT" property="is_subscribed" />
    <result column="is_merge_published" jdbcType="BIT" property="is_merge_published" />
    <result column="is_distributor" jdbcType="BIT" property="is_distributor" />
    <result column="is_sync_with_backup" jdbcType="BIT" property="is_sync_with_backup" />
    <result column="service_broker_guid" jdbcType="CHAR" property="service_broker_guid" />
    <result column="is_broker_enabled" jdbcType="BIT" property="is_broker_enabled" />
    <result column="log_reuse_wait" jdbcType="TINYINT" property="log_reuse_wait" />
    <result column="log_reuse_wait_desc" jdbcType="VARCHAR" property="log_reuse_wait_desc" />
    <result column="is_date_correlation_on" jdbcType="BIT" property="is_date_correlation_on" />
    <result column="is_cdc_enabled" jdbcType="BIT" property="is_cdc_enabled" />
    <result column="is_encrypted" jdbcType="BIT" property="is_encrypted" />
    <result column="is_honor_broker_priority_on" jdbcType="BIT" property="is_honor_broker_priority_on" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ks.monitor.pojo.Databases">
    <result column="owner_sid" jdbcType="VARBINARY" property="owner_sid" />
  </resultMap>
  <sql id="Blob_Column_List">
    owner_sid
  </sql>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Databases">
    insert into databases (name, database_id, source_database_id, 
      create_date, compatibility_level, collation_name, 
      user_access, user_access_desc, is_read_only, 
      is_auto_close_on, is_auto_shrink_on, state, 
      state_desc, is_in_standby, is_cleanly_shutdown, 
      is_supplemental_logging_enabled, snapshot_isolation_state, 
      snapshot_isolation_state_desc, is_read_committed_snapshot_on, 
      recovery_model, recovery_model_desc, page_verify_option, 
      page_verify_option_desc, is_auto_create_stats_on, 
      is_auto_update_stats_on, is_auto_update_stats_async_on, 
      is_ansi_null_default_on, is_ansi_nulls_on, is_ansi_padding_on, 
      is_ansi_warnings_on, is_arithabort_on, is_concat_null_yields_null_on, 
      is_numeric_roundabort_on, is_quoted_identifier_on, 
      is_recursive_triggers_on, is_cursor_close_on_commit_on, 
      is_local_cursor_default, is_fulltext_enabled, is_trustworthy_on, 
      is_db_chaining_on, is_parameterization_forced, 
      is_master_key_encrypted_by_server, is_published, 
      is_subscribed, is_merge_published, is_distributor, 
      is_sync_with_backup, service_broker_guid, is_broker_enabled, 
      log_reuse_wait, log_reuse_wait_desc, is_date_correlation_on, 
      is_cdc_enabled, is_encrypted, is_honor_broker_priority_on, 
      owner_sid)
    values (#{name,jdbcType=VARCHAR}, #{database_id,jdbcType=INTEGER}, #{source_database_id,jdbcType=INTEGER}, 
      #{create_date,jdbcType=TIMESTAMP}, #{compatibility_level,jdbcType=TINYINT}, #{collation_name,jdbcType=VARCHAR}, 
      #{user_access,jdbcType=TINYINT}, #{user_access_desc,jdbcType=VARCHAR}, #{is_read_only,jdbcType=BIT}, 
      #{is_auto_close_on,jdbcType=BIT}, #{is_auto_shrink_on,jdbcType=BIT}, #{state,jdbcType=TINYINT}, 
      #{state_desc,jdbcType=VARCHAR}, #{is_in_standby,jdbcType=BIT}, #{is_cleanly_shutdown,jdbcType=BIT}, 
      #{is_supplemental_logging_enabled,jdbcType=BIT}, #{snapshot_isolation_state,jdbcType=TINYINT}, 
      #{snapshot_isolation_state_desc,jdbcType=VARCHAR}, #{is_read_committed_snapshot_on,jdbcType=BIT}, 
      #{recovery_model,jdbcType=TINYINT}, #{recovery_model_desc,jdbcType=VARCHAR}, #{page_verify_option,jdbcType=TINYINT}, 
      #{page_verify_option_desc,jdbcType=VARCHAR}, #{is_auto_create_stats_on,jdbcType=BIT}, 
      #{is_auto_update_stats_on,jdbcType=BIT}, #{is_auto_update_stats_async_on,jdbcType=BIT}, 
      #{is_ansi_null_default_on,jdbcType=BIT}, #{is_ansi_nulls_on,jdbcType=BIT}, #{is_ansi_padding_on,jdbcType=BIT}, 
      #{is_ansi_warnings_on,jdbcType=BIT}, #{is_arithabort_on,jdbcType=BIT}, #{is_concat_null_yields_null_on,jdbcType=BIT}, 
      #{is_numeric_roundabort_on,jdbcType=BIT}, #{is_quoted_identifier_on,jdbcType=BIT}, 
      #{is_recursive_triggers_on,jdbcType=BIT}, #{is_cursor_close_on_commit_on,jdbcType=BIT}, 
      #{is_local_cursor_default,jdbcType=BIT}, #{is_fulltext_enabled,jdbcType=BIT}, #{is_trustworthy_on,jdbcType=BIT}, 
      #{is_db_chaining_on,jdbcType=BIT}, #{is_parameterization_forced,jdbcType=BIT}, 
      #{is_master_key_encrypted_by_server,jdbcType=BIT}, #{is_published,jdbcType=BIT}, 
      #{is_subscribed,jdbcType=BIT}, #{is_merge_published,jdbcType=BIT}, #{is_distributor,jdbcType=BIT}, 
      #{is_sync_with_backup,jdbcType=BIT}, #{service_broker_guid,jdbcType=CHAR}, #{is_broker_enabled,jdbcType=BIT}, 
      #{log_reuse_wait,jdbcType=TINYINT}, #{log_reuse_wait_desc,jdbcType=VARCHAR}, #{is_date_correlation_on,jdbcType=BIT}, 
      #{is_cdc_enabled,jdbcType=BIT}, #{is_encrypted,jdbcType=BIT}, #{is_honor_broker_priority_on,jdbcType=BIT}, 
      #{owner_sid,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Databases">
    insert into databases
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="database_id != null">
        database_id,
      </if>
      <if test="source_database_id != null">
        source_database_id,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="compatibility_level != null">
        compatibility_level,
      </if>
      <if test="collation_name != null">
        collation_name,
      </if>
      <if test="user_access != null">
        user_access,
      </if>
      <if test="user_access_desc != null">
        user_access_desc,
      </if>
      <if test="is_read_only != null">
        is_read_only,
      </if>
      <if test="is_auto_close_on != null">
        is_auto_close_on,
      </if>
      <if test="is_auto_shrink_on != null">
        is_auto_shrink_on,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="state_desc != null">
        state_desc,
      </if>
      <if test="is_in_standby != null">
        is_in_standby,
      </if>
      <if test="is_cleanly_shutdown != null">
        is_cleanly_shutdown,
      </if>
      <if test="is_supplemental_logging_enabled != null">
        is_supplemental_logging_enabled,
      </if>
      <if test="snapshot_isolation_state != null">
        snapshot_isolation_state,
      </if>
      <if test="snapshot_isolation_state_desc != null">
        snapshot_isolation_state_desc,
      </if>
      <if test="is_read_committed_snapshot_on != null">
        is_read_committed_snapshot_on,
      </if>
      <if test="recovery_model != null">
        recovery_model,
      </if>
      <if test="recovery_model_desc != null">
        recovery_model_desc,
      </if>
      <if test="page_verify_option != null">
        page_verify_option,
      </if>
      <if test="page_verify_option_desc != null">
        page_verify_option_desc,
      </if>
      <if test="is_auto_create_stats_on != null">
        is_auto_create_stats_on,
      </if>
      <if test="is_auto_update_stats_on != null">
        is_auto_update_stats_on,
      </if>
      <if test="is_auto_update_stats_async_on != null">
        is_auto_update_stats_async_on,
      </if>
      <if test="is_ansi_null_default_on != null">
        is_ansi_null_default_on,
      </if>
      <if test="is_ansi_nulls_on != null">
        is_ansi_nulls_on,
      </if>
      <if test="is_ansi_padding_on != null">
        is_ansi_padding_on,
      </if>
      <if test="is_ansi_warnings_on != null">
        is_ansi_warnings_on,
      </if>
      <if test="is_arithabort_on != null">
        is_arithabort_on,
      </if>
      <if test="is_concat_null_yields_null_on != null">
        is_concat_null_yields_null_on,
      </if>
      <if test="is_numeric_roundabort_on != null">
        is_numeric_roundabort_on,
      </if>
      <if test="is_quoted_identifier_on != null">
        is_quoted_identifier_on,
      </if>
      <if test="is_recursive_triggers_on != null">
        is_recursive_triggers_on,
      </if>
      <if test="is_cursor_close_on_commit_on != null">
        is_cursor_close_on_commit_on,
      </if>
      <if test="is_local_cursor_default != null">
        is_local_cursor_default,
      </if>
      <if test="is_fulltext_enabled != null">
        is_fulltext_enabled,
      </if>
      <if test="is_trustworthy_on != null">
        is_trustworthy_on,
      </if>
      <if test="is_db_chaining_on != null">
        is_db_chaining_on,
      </if>
      <if test="is_parameterization_forced != null">
        is_parameterization_forced,
      </if>
      <if test="is_master_key_encrypted_by_server != null">
        is_master_key_encrypted_by_server,
      </if>
      <if test="is_published != null">
        is_published,
      </if>
      <if test="is_subscribed != null">
        is_subscribed,
      </if>
      <if test="is_merge_published != null">
        is_merge_published,
      </if>
      <if test="is_distributor != null">
        is_distributor,
      </if>
      <if test="is_sync_with_backup != null">
        is_sync_with_backup,
      </if>
      <if test="service_broker_guid != null">
        service_broker_guid,
      </if>
      <if test="is_broker_enabled != null">
        is_broker_enabled,
      </if>
      <if test="log_reuse_wait != null">
        log_reuse_wait,
      </if>
      <if test="log_reuse_wait_desc != null">
        log_reuse_wait_desc,
      </if>
      <if test="is_date_correlation_on != null">
        is_date_correlation_on,
      </if>
      <if test="is_cdc_enabled != null">
        is_cdc_enabled,
      </if>
      <if test="is_encrypted != null">
        is_encrypted,
      </if>
      <if test="is_honor_broker_priority_on != null">
        is_honor_broker_priority_on,
      </if>
      <if test="owner_sid != null">
        owner_sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="database_id != null">
        #{database_id,jdbcType=INTEGER},
      </if>
      <if test="source_database_id != null">
        #{source_database_id,jdbcType=INTEGER},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="compatibility_level != null">
        #{compatibility_level,jdbcType=TINYINT},
      </if>
      <if test="collation_name != null">
        #{collation_name,jdbcType=VARCHAR},
      </if>
      <if test="user_access != null">
        #{user_access,jdbcType=TINYINT},
      </if>
      <if test="user_access_desc != null">
        #{user_access_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_read_only != null">
        #{is_read_only,jdbcType=BIT},
      </if>
      <if test="is_auto_close_on != null">
        #{is_auto_close_on,jdbcType=BIT},
      </if>
      <if test="is_auto_shrink_on != null">
        #{is_auto_shrink_on,jdbcType=BIT},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="state_desc != null">
        #{state_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_in_standby != null">
        #{is_in_standby,jdbcType=BIT},
      </if>
      <if test="is_cleanly_shutdown != null">
        #{is_cleanly_shutdown,jdbcType=BIT},
      </if>
      <if test="is_supplemental_logging_enabled != null">
        #{is_supplemental_logging_enabled,jdbcType=BIT},
      </if>
      <if test="snapshot_isolation_state != null">
        #{snapshot_isolation_state,jdbcType=TINYINT},
      </if>
      <if test="snapshot_isolation_state_desc != null">
        #{snapshot_isolation_state_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_read_committed_snapshot_on != null">
        #{is_read_committed_snapshot_on,jdbcType=BIT},
      </if>
      <if test="recovery_model != null">
        #{recovery_model,jdbcType=TINYINT},
      </if>
      <if test="recovery_model_desc != null">
        #{recovery_model_desc,jdbcType=VARCHAR},
      </if>
      <if test="page_verify_option != null">
        #{page_verify_option,jdbcType=TINYINT},
      </if>
      <if test="page_verify_option_desc != null">
        #{page_verify_option_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_auto_create_stats_on != null">
        #{is_auto_create_stats_on,jdbcType=BIT},
      </if>
      <if test="is_auto_update_stats_on != null">
        #{is_auto_update_stats_on,jdbcType=BIT},
      </if>
      <if test="is_auto_update_stats_async_on != null">
        #{is_auto_update_stats_async_on,jdbcType=BIT},
      </if>
      <if test="is_ansi_null_default_on != null">
        #{is_ansi_null_default_on,jdbcType=BIT},
      </if>
      <if test="is_ansi_nulls_on != null">
        #{is_ansi_nulls_on,jdbcType=BIT},
      </if>
      <if test="is_ansi_padding_on != null">
        #{is_ansi_padding_on,jdbcType=BIT},
      </if>
      <if test="is_ansi_warnings_on != null">
        #{is_ansi_warnings_on,jdbcType=BIT},
      </if>
      <if test="is_arithabort_on != null">
        #{is_arithabort_on,jdbcType=BIT},
      </if>
      <if test="is_concat_null_yields_null_on != null">
        #{is_concat_null_yields_null_on,jdbcType=BIT},
      </if>
      <if test="is_numeric_roundabort_on != null">
        #{is_numeric_roundabort_on,jdbcType=BIT},
      </if>
      <if test="is_quoted_identifier_on != null">
        #{is_quoted_identifier_on,jdbcType=BIT},
      </if>
      <if test="is_recursive_triggers_on != null">
        #{is_recursive_triggers_on,jdbcType=BIT},
      </if>
      <if test="is_cursor_close_on_commit_on != null">
        #{is_cursor_close_on_commit_on,jdbcType=BIT},
      </if>
      <if test="is_local_cursor_default != null">
        #{is_local_cursor_default,jdbcType=BIT},
      </if>
      <if test="is_fulltext_enabled != null">
        #{is_fulltext_enabled,jdbcType=BIT},
      </if>
      <if test="is_trustworthy_on != null">
        #{is_trustworthy_on,jdbcType=BIT},
      </if>
      <if test="is_db_chaining_on != null">
        #{is_db_chaining_on,jdbcType=BIT},
      </if>
      <if test="is_parameterization_forced != null">
        #{is_parameterization_forced,jdbcType=BIT},
      </if>
      <if test="is_master_key_encrypted_by_server != null">
        #{is_master_key_encrypted_by_server,jdbcType=BIT},
      </if>
      <if test="is_published != null">
        #{is_published,jdbcType=BIT},
      </if>
      <if test="is_subscribed != null">
        #{is_subscribed,jdbcType=BIT},
      </if>
      <if test="is_merge_published != null">
        #{is_merge_published,jdbcType=BIT},
      </if>
      <if test="is_distributor != null">
        #{is_distributor,jdbcType=BIT},
      </if>
      <if test="is_sync_with_backup != null">
        #{is_sync_with_backup,jdbcType=BIT},
      </if>
      <if test="service_broker_guid != null">
        #{service_broker_guid,jdbcType=CHAR},
      </if>
      <if test="is_broker_enabled != null">
        #{is_broker_enabled,jdbcType=BIT},
      </if>
      <if test="log_reuse_wait != null">
        #{log_reuse_wait,jdbcType=TINYINT},
      </if>
      <if test="log_reuse_wait_desc != null">
        #{log_reuse_wait_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_date_correlation_on != null">
        #{is_date_correlation_on,jdbcType=BIT},
      </if>
      <if test="is_cdc_enabled != null">
        #{is_cdc_enabled,jdbcType=BIT},
      </if>
      <if test="is_encrypted != null">
        #{is_encrypted,jdbcType=BIT},
      </if>
      <if test="is_honor_broker_priority_on != null">
        #{is_honor_broker_priority_on,jdbcType=BIT},
      </if>
      <if test="owner_sid != null">
        #{owner_sid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>