<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.DmCryptographicProviderAlgorithmsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.DmCryptographicProviderAlgorithms">
    <result column="algorithm_id" jdbcType="INTEGER" property="algorithm_id" />
    <result column="algorithm_tag" jdbcType="VARCHAR" property="algorithm_tag" />
    <result column="key_type" jdbcType="VARCHAR" property="key_type" />
    <result column="key_length" jdbcType="INTEGER" property="key_length" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.DmCryptographicProviderAlgorithms">
    insert into dm_cryptographic_provider_algorithms (algorithm_id, algorithm_tag, key_type, 
      key_length)
    values (#{algorithm_id,jdbcType=INTEGER}, #{algorithm_tag,jdbcType=VARCHAR}, #{key_type,jdbcType=VARCHAR}, 
      #{key_length,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.DmCryptographicProviderAlgorithms">
    insert into dm_cryptographic_provider_algorithms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="algorithm_id != null">
        algorithm_id,
      </if>
      <if test="algorithm_tag != null">
        algorithm_tag,
      </if>
      <if test="key_type != null">
        key_type,
      </if>
      <if test="key_length != null">
        key_length,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="algorithm_id != null">
        #{algorithm_id,jdbcType=INTEGER},
      </if>
      <if test="algorithm_tag != null">
        #{algorithm_tag,jdbcType=VARCHAR},
      </if>
      <if test="key_type != null">
        #{key_type,jdbcType=VARCHAR},
      </if>
      <if test="key_length != null">
        #{key_length,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>