<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.DmTranCommitTableMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.DmTranCommitTable">
    <result column="commit_ts" jdbcType="BIGINT" property="commit_ts" />
    <result column="xdes_id" jdbcType="BIGINT" property="xdes_id" />
    <result column="commit_lbn" jdbcType="BIGINT" property="commit_lbn" />
    <result column="commit_csn" jdbcType="BIGINT" property="commit_csn" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commit_time" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.DmTranCommitTable">
    insert into dm_tran_commit_table (commit_ts, xdes_id, commit_lbn, 
      commit_csn, commit_time)
    values (#{commit_ts,jdbcType=BIGINT}, #{xdes_id,jdbcType=BIGINT}, #{commit_lbn,jdbcType=BIGINT}, 
      #{commit_csn,jdbcType=BIGINT}, #{commit_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.DmTranCommitTable">
    insert into dm_tran_commit_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commit_ts != null">
        commit_ts,
      </if>
      <if test="xdes_id != null">
        xdes_id,
      </if>
      <if test="commit_lbn != null">
        commit_lbn,
      </if>
      <if test="commit_csn != null">
        commit_csn,
      </if>
      <if test="commit_time != null">
        commit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commit_ts != null">
        #{commit_ts,jdbcType=BIGINT},
      </if>
      <if test="xdes_id != null">
        #{xdes_id,jdbcType=BIGINT},
      </if>
      <if test="commit_lbn != null">
        #{commit_lbn,jdbcType=BIGINT},
      </if>
      <if test="commit_csn != null">
        #{commit_csn,jdbcType=BIGINT},
      </if>
      <if test="commit_time != null">
        #{commit_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>