<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.DmTranCurrentSnapshotMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.DmTranCurrentSnapshot">
    <result column="transaction_sequence_num" jdbcType="BIGINT" property="transaction_sequence_num" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.DmTranCurrentSnapshot">
    insert into dm_tran_current_snapshot (transaction_sequence_num)
    values (#{transaction_sequence_num,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.DmTranCurrentSnapshot">
    insert into dm_tran_current_snapshot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transaction_sequence_num != null">
        transaction_sequence_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transaction_sequence_num != null">
        #{transaction_sequence_num,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>