<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.FnReplgetcolidfrombitmapMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.FnReplgetcolidfrombitmap">
    <result column="colid" jdbcType="INTEGER" property="colid" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.FnReplgetcolidfrombitmap">
    insert into fn_replgetcolidfrombitmap (colid)
    values (#{colid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.FnReplgetcolidfrombitmap">
    insert into fn_replgetcolidfrombitmap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="colid != null">
        colid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="colid != null">
        #{colid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>