<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.FnVirtualservernodesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.FnVirtualservernodes">
    <result column="NodeName" jdbcType="VARCHAR" property="nodeName" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.FnVirtualservernodes">
    insert into fn_virtualservernodes (NodeName)
    values (#{nodeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.FnVirtualservernodes">
    insert into fn_virtualservernodes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeName != null">
        NodeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>