<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.ForeignKeysMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.ForeignKeys">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="object_id" jdbcType="INTEGER" property="object_id" />
    <result column="principal_id" jdbcType="INTEGER" property="principal_id" />
    <result column="schema_id" jdbcType="INTEGER" property="schema_id" />
    <result column="parent_object_id" jdbcType="INTEGER" property="parent_object_id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="type_desc" jdbcType="VARCHAR" property="type_desc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modify_date" />
    <result column="is_ms_shipped" jdbcType="BIT" property="is_ms_shipped" />
    <result column="is_published" jdbcType="BIT" property="is_published" />
    <result column="is_schema_published" jdbcType="BIT" property="is_schema_published" />
    <result column="referenced_object_id" jdbcType="INTEGER" property="referenced_object_id" />
    <result column="key_index_id" jdbcType="INTEGER" property="key_index_id" />
    <result column="is_disabled" jdbcType="BIT" property="is_disabled" />
    <result column="is_not_for_replication" jdbcType="BIT" property="is_not_for_replication" />
    <result column="is_not_trusted" jdbcType="BIT" property="is_not_trusted" />
    <result column="delete_referential_action" jdbcType="TINYINT" property="delete_referential_action" />
    <result column="delete_referential_action_desc" jdbcType="VARCHAR" property="delete_referential_action_desc" />
    <result column="update_referential_action" jdbcType="TINYINT" property="update_referential_action" />
    <result column="update_referential_action_desc" jdbcType="VARCHAR" property="update_referential_action_desc" />
    <result column="is_system_named" jdbcType="BIT" property="is_system_named" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.ForeignKeys">
    insert into foreign_keys (name, object_id, principal_id, 
      schema_id, parent_object_id, type, 
      type_desc, create_date, modify_date, 
      is_ms_shipped, is_published, is_schema_published, 
      referenced_object_id, key_index_id, is_disabled, 
      is_not_for_replication, is_not_trusted, delete_referential_action, 
      delete_referential_action_desc, update_referential_action, 
      update_referential_action_desc, is_system_named
      )
    values (#{name,jdbcType=VARCHAR}, #{object_id,jdbcType=INTEGER}, #{principal_id,jdbcType=INTEGER}, 
      #{schema_id,jdbcType=INTEGER}, #{parent_object_id,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{type_desc,jdbcType=VARCHAR}, #{create_date,jdbcType=TIMESTAMP}, #{modify_date,jdbcType=TIMESTAMP}, 
      #{is_ms_shipped,jdbcType=BIT}, #{is_published,jdbcType=BIT}, #{is_schema_published,jdbcType=BIT}, 
      #{referenced_object_id,jdbcType=INTEGER}, #{key_index_id,jdbcType=INTEGER}, #{is_disabled,jdbcType=BIT}, 
      #{is_not_for_replication,jdbcType=BIT}, #{is_not_trusted,jdbcType=BIT}, #{delete_referential_action,jdbcType=TINYINT}, 
      #{delete_referential_action_desc,jdbcType=VARCHAR}, #{update_referential_action,jdbcType=TINYINT}, 
      #{update_referential_action_desc,jdbcType=VARCHAR}, #{is_system_named,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.ForeignKeys">
    insert into foreign_keys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="object_id != null">
        object_id,
      </if>
      <if test="principal_id != null">
        principal_id,
      </if>
      <if test="schema_id != null">
        schema_id,
      </if>
      <if test="parent_object_id != null">
        parent_object_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="type_desc != null">
        type_desc,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="modify_date != null">
        modify_date,
      </if>
      <if test="is_ms_shipped != null">
        is_ms_shipped,
      </if>
      <if test="is_published != null">
        is_published,
      </if>
      <if test="is_schema_published != null">
        is_schema_published,
      </if>
      <if test="referenced_object_id != null">
        referenced_object_id,
      </if>
      <if test="key_index_id != null">
        key_index_id,
      </if>
      <if test="is_disabled != null">
        is_disabled,
      </if>
      <if test="is_not_for_replication != null">
        is_not_for_replication,
      </if>
      <if test="is_not_trusted != null">
        is_not_trusted,
      </if>
      <if test="delete_referential_action != null">
        delete_referential_action,
      </if>
      <if test="delete_referential_action_desc != null">
        delete_referential_action_desc,
      </if>
      <if test="update_referential_action != null">
        update_referential_action,
      </if>
      <if test="update_referential_action_desc != null">
        update_referential_action_desc,
      </if>
      <if test="is_system_named != null">
        is_system_named,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="object_id != null">
        #{object_id,jdbcType=INTEGER},
      </if>
      <if test="principal_id != null">
        #{principal_id,jdbcType=INTEGER},
      </if>
      <if test="schema_id != null">
        #{schema_id,jdbcType=INTEGER},
      </if>
      <if test="parent_object_id != null">
        #{parent_object_id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="type_desc != null">
        #{type_desc,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date != null">
        #{modify_date,jdbcType=TIMESTAMP},
      </if>
      <if test="is_ms_shipped != null">
        #{is_ms_shipped,jdbcType=BIT},
      </if>
      <if test="is_published != null">
        #{is_published,jdbcType=BIT},
      </if>
      <if test="is_schema_published != null">
        #{is_schema_published,jdbcType=BIT},
      </if>
      <if test="referenced_object_id != null">
        #{referenced_object_id,jdbcType=INTEGER},
      </if>
      <if test="key_index_id != null">
        #{key_index_id,jdbcType=INTEGER},
      </if>
      <if test="is_disabled != null">
        #{is_disabled,jdbcType=BIT},
      </if>
      <if test="is_not_for_replication != null">
        #{is_not_for_replication,jdbcType=BIT},
      </if>
      <if test="is_not_trusted != null">
        #{is_not_trusted,jdbcType=BIT},
      </if>
      <if test="delete_referential_action != null">
        #{delete_referential_action,jdbcType=TINYINT},
      </if>
      <if test="delete_referential_action_desc != null">
        #{delete_referential_action_desc,jdbcType=VARCHAR},
      </if>
      <if test="update_referential_action != null">
        #{update_referential_action,jdbcType=TINYINT},
      </if>
      <if test="update_referential_action_desc != null">
        #{update_referential_action_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_system_named != null">
        #{is_system_named,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>