<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.KsDtuinterfaceMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.KsDtuinterface">
    <id column="InterFaceID" jdbcType="BIGINT" property="interFaceID" />
    <result column="InterFaceName" jdbcType="VARCHAR" property="interFaceName" />
    <result column="ManagerID" jdbcType="BIGINT" property="managerID" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="Status" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    InterFaceID, InterFaceName, ManagerID, AddTime, Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KS_DTUInterFace
    where InterFaceID = #{interFaceID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from KS_DTUInterFace
    where InterFaceID = #{interFaceID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ks.monitor.pojo.KsDtuinterface">
    insert into KS_DTUInterFace (InterFaceID, InterFaceName, ManagerID, 
      AddTime, Status)
    values (#{interFaceID,jdbcType=BIGINT}, #{interFaceName,jdbcType=VARCHAR}, #{managerID,jdbcType=BIGINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.KsDtuinterface">
    insert into KS_DTUInterFace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interFaceID != null">
        InterFaceID,
      </if>
      <if test="interFaceName != null">
        InterFaceName,
      </if>
      <if test="managerID != null">
        ManagerID,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="status != null">
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interFaceID != null">
        #{interFaceID,jdbcType=BIGINT},
      </if>
      <if test="interFaceName != null">
        #{interFaceName,jdbcType=VARCHAR},
      </if>
      <if test="managerID != null">
        #{managerID,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ks.monitor.pojo.KsDtuinterface">
    update KS_DTUInterFace
    <set>
      <if test="interFaceName != null">
        InterFaceName = #{interFaceName,jdbcType=VARCHAR},
      </if>
      <if test="managerID != null">
        ManagerID = #{managerID,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where InterFaceID = #{interFaceID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ks.monitor.pojo.KsDtuinterface">
    update KS_DTUInterFace
    set InterFaceName = #{interFaceName,jdbcType=VARCHAR},
      ManagerID = #{managerID,jdbcType=BIGINT},
      AddTime = #{addTime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=SMALLINT}
    where InterFaceID = #{interFaceID,jdbcType=BIGINT}
  </update>
</mapper>