<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.KsElectronicfencerecMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.KsElectronicfencerec">
    <id column="ElectronicFenceID" jdbcType="BIGINT" property="electronicFenceID" />
    <result column="EquipMentID" jdbcType="BIGINT" property="equipMentID" />
    <result column="RamCode" jdbcType="VARCHAR" property="ramCode" />
    <result column="ElectronicFenceStatus" jdbcType="SMALLINT" property="electronicFenceStatus" />
    <result column="ColTime" jdbcType="TIMESTAMP" property="colTime" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="Status" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ElectronicFenceID, EquipMentID, RamCode, ElectronicFenceStatus, ColTime, AddTime, 
    Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KS_ElectronicFenceRec
    where ElectronicFenceID = #{electronicFenceID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from KS_ElectronicFenceRec
    where ElectronicFenceID = #{electronicFenceID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ks.monitor.pojo.KsElectronicfencerec">
    insert into KS_ElectronicFenceRec (ElectronicFenceID, EquipMentID, RamCode, 
      ElectronicFenceStatus, ColTime, AddTime, 
      Status)
    values (#{electronicFenceID,jdbcType=BIGINT}, #{equipMentID,jdbcType=BIGINT}, #{ramCode,jdbcType=VARCHAR}, 
      #{electronicFenceStatus,jdbcType=SMALLINT}, #{colTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.KsElectronicfencerec">
    insert into KS_ElectronicFenceRec
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="electronicFenceID != null">
        ElectronicFenceID,
      </if>
      <if test="equipMentID != null">
        EquipMentID,
      </if>
      <if test="ramCode != null">
        RamCode,
      </if>
      <if test="electronicFenceStatus != null">
        ElectronicFenceStatus,
      </if>
      <if test="colTime != null">
        ColTime,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="status != null">
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="electronicFenceID != null">
        #{electronicFenceID,jdbcType=BIGINT},
      </if>
      <if test="equipMentID != null">
        #{equipMentID,jdbcType=BIGINT},
      </if>
      <if test="ramCode != null">
        #{ramCode,jdbcType=VARCHAR},
      </if>
      <if test="electronicFenceStatus != null">
        #{electronicFenceStatus,jdbcType=SMALLINT},
      </if>
      <if test="colTime != null">
        #{colTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ks.monitor.pojo.KsElectronicfencerec">
    update KS_ElectronicFenceRec
    <set>
      <if test="equipMentID != null">
        EquipMentID = #{equipMentID,jdbcType=BIGINT},
      </if>
      <if test="ramCode != null">
        RamCode = #{ramCode,jdbcType=VARCHAR},
      </if>
      <if test="electronicFenceStatus != null">
        ElectronicFenceStatus = #{electronicFenceStatus,jdbcType=SMALLINT},
      </if>
      <if test="colTime != null">
        ColTime = #{colTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where ElectronicFenceID = #{electronicFenceID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ks.monitor.pojo.KsElectronicfencerec">
    update KS_ElectronicFenceRec
    set EquipMentID = #{equipMentID,jdbcType=BIGINT},
      RamCode = #{ramCode,jdbcType=VARCHAR},
      ElectronicFenceStatus = #{electronicFenceStatus,jdbcType=SMALLINT},
      ColTime = #{colTime,jdbcType=TIMESTAMP},
      AddTime = #{addTime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=SMALLINT}
    where ElectronicFenceID = #{electronicFenceID,jdbcType=BIGINT}
  </update>
</mapper>