<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.KsEquiprec201601Mapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.KsEquiprec201601">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="EquipMentID" jdbcType="BIGINT" property="equipMentID" />
    <result column="DPrcArrID" jdbcType="INTEGER" property="DPrcArrID" />
    <result column="FieldValue" jdbcType="DOUBLE" property="fieldValue" />
    <result column="ColTime" jdbcType="TIMESTAMP" property="colTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EquipMentID, DPrcArrID, FieldValue, ColTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KS_EquipRec201601
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from KS_EquipRec201601
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ks.monitor.pojo.KsEquiprec201601">
    insert into KS_EquipRec201601 (ID, EquipMentID, DPrcArrID, 
      FieldValue, ColTime)
    values (#{ID,jdbcType=INTEGER}, #{equipMentID,jdbcType=BIGINT}, #{DPrcArrID,jdbcType=INTEGER}, 
      #{fieldValue,jdbcType=DOUBLE}, #{colTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.KsEquiprec201601">
    insert into KS_EquipRec201601
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="equipMentID != null">
        EquipMentID,
      </if>
      <if test="DPrcArrID != null">
        DPrcArrID,
      </if>
      <if test="fieldValue != null">
        FieldValue,
      </if>
      <if test="colTime != null">
        ColTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="equipMentID != null">
        #{equipMentID,jdbcType=BIGINT},
      </if>
      <if test="DPrcArrID != null">
        #{DPrcArrID,jdbcType=INTEGER},
      </if>
      <if test="fieldValue != null">
        #{fieldValue,jdbcType=DOUBLE},
      </if>
      <if test="colTime != null">
        #{colTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ks.monitor.pojo.KsEquiprec201601">
    update KS_EquipRec201601
    <set>
      <if test="equipMentID != null">
        EquipMentID = #{equipMentID,jdbcType=BIGINT},
      </if>
      <if test="DPrcArrID != null">
        DPrcArrID = #{DPrcArrID,jdbcType=INTEGER},
      </if>
      <if test="fieldValue != null">
        FieldValue = #{fieldValue,jdbcType=DOUBLE},
      </if>
      <if test="colTime != null">
        ColTime = #{colTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ks.monitor.pojo.KsEquiprec201601">
    update KS_EquipRec201601
    set EquipMentID = #{equipMentID,jdbcType=BIGINT},
      DPrcArrID = #{DPrcArrID,jdbcType=INTEGER},
      FieldValue = #{fieldValue,jdbcType=DOUBLE},
      ColTime = #{colTime,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>