<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.KsSolenpasswordMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.KsSolenpassword">
    <id column="SolenID" jdbcType="INTEGER" property="solenID" />
    <result column="EquipMentID" jdbcType="INTEGER" property="equipMentID" />
    <result column="PassWord" jdbcType="VARCHAR" property="passWord" />
  </resultMap>
  <sql id="Base_Column_List">
    SolenID, EquipMentID, PassWord
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KS_SolenPassWord
    where SolenID = #{solenID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from KS_SolenPassWord
    where SolenID = #{solenID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ks.monitor.pojo.KsSolenpassword">
    insert into KS_SolenPassWord (SolenID, EquipMentID, PassWord
      )
    values (#{solenID,jdbcType=INTEGER}, #{equipMentID,jdbcType=INTEGER}, #{passWord,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.KsSolenpassword">
    insert into KS_SolenPassWord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="solenID != null">
        SolenID,
      </if>
      <if test="equipMentID != null">
        EquipMentID,
      </if>
      <if test="passWord != null">
        PassWord,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="solenID != null">
        #{solenID,jdbcType=INTEGER},
      </if>
      <if test="equipMentID != null">
        #{equipMentID,jdbcType=INTEGER},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ks.monitor.pojo.KsSolenpassword">
    update KS_SolenPassWord
    <set>
      <if test="equipMentID != null">
        EquipMentID = #{equipMentID,jdbcType=INTEGER},
      </if>
      <if test="passWord != null">
        PassWord = #{passWord,jdbcType=VARCHAR},
      </if>
    </set>
    where SolenID = #{solenID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ks.monitor.pojo.KsSolenpassword">
    update KS_SolenPassWord
    set EquipMentID = #{equipMentID,jdbcType=INTEGER},
      PassWord = #{passWord,jdbcType=VARCHAR}
    where SolenID = #{solenID,jdbcType=INTEGER}
  </update>
</mapper>