<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.ParameterXmlSchemaCollectionUsagesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.ParameterXmlSchemaCollectionUsages">
    <result column="object_id" jdbcType="INTEGER" property="object_id" />
    <result column="parameter_id" jdbcType="INTEGER" property="parameter_id" />
    <result column="xml_collection_id" jdbcType="INTEGER" property="xml_collection_id" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.ParameterXmlSchemaCollectionUsages">
    insert into parameter_xml_schema_collection_usages (object_id, parameter_id, xml_collection_id
      )
    values (#{object_id,jdbcType=INTEGER}, #{parameter_id,jdbcType=INTEGER}, #{xml_collection_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.ParameterXmlSchemaCollectionUsages">
    insert into parameter_xml_schema_collection_usages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="object_id != null">
        object_id,
      </if>
      <if test="parameter_id != null">
        parameter_id,
      </if>
      <if test="xml_collection_id != null">
        xml_collection_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="object_id != null">
        #{object_id,jdbcType=INTEGER},
      </if>
      <if test="parameter_id != null">
        #{parameter_id,jdbcType=INTEGER},
      </if>
      <if test="xml_collection_id != null">
        #{xml_collection_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>