<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.ServerPrincipalCredentialsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.ServerPrincipalCredentials">
    <result column="principal_id" jdbcType="INTEGER" property="principal_id" />
    <result column="credential_id" jdbcType="INTEGER" property="credential_id" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.ServerPrincipalCredentials">
    insert into server_principal_credentials (principal_id, credential_id)
    values (#{principal_id,jdbcType=INTEGER}, #{credential_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.ServerPrincipalCredentials">
    insert into server_principal_credentials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="principal_id != null">
        principal_id,
      </if>
      <if test="credential_id != null">
        credential_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="principal_id != null">
        #{principal_id,jdbcType=INTEGER},
      </if>
      <if test="credential_id != null">
        #{credential_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>