<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.SoapEndpointsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.SoapEndpoints">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="endpoint_id" jdbcType="INTEGER" property="endpoint_id" />
    <result column="principal_id" jdbcType="INTEGER" property="principal_id" />
    <result column="protocol" jdbcType="TINYINT" property="protocol" />
    <result column="protocol_desc" jdbcType="VARCHAR" property="protocol_desc" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_desc" jdbcType="VARCHAR" property="type_desc" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="state_desc" jdbcType="VARCHAR" property="state_desc" />
    <result column="is_admin_endpoint" jdbcType="BIT" property="is_admin_endpoint" />
    <result column="is_sql_language_enabled" jdbcType="BIT" property="is_sql_language_enabled" />
    <result column="wsdl_generator_procedure" jdbcType="VARCHAR" property="wsdl_generator_procedure" />
    <result column="default_database" jdbcType="VARCHAR" property="default_database" />
    <result column="default_namespace" jdbcType="VARCHAR" property="default_namespace" />
    <result column="default_result_schema" jdbcType="TINYINT" property="default_result_schema" />
    <result column="default_result_schema_desc" jdbcType="VARCHAR" property="default_result_schema_desc" />
    <result column="is_xml_charset_enforced" jdbcType="BIT" property="is_xml_charset_enforced" />
    <result column="is_session_enabled" jdbcType="BIT" property="is_session_enabled" />
    <result column="session_timeout" jdbcType="INTEGER" property="session_timeout" />
    <result column="login_type" jdbcType="VARCHAR" property="login_type" />
    <result column="header_limit" jdbcType="INTEGER" property="header_limit" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.SoapEndpoints">
    insert into soap_endpoints (name, endpoint_id, principal_id, 
      protocol, protocol_desc, type, 
      type_desc, state, state_desc, 
      is_admin_endpoint, is_sql_language_enabled, wsdl_generator_procedure, 
      default_database, default_namespace, default_result_schema, 
      default_result_schema_desc, is_xml_charset_enforced, 
      is_session_enabled, session_timeout, login_type, 
      header_limit)
    values (#{name,jdbcType=VARCHAR}, #{endpoint_id,jdbcType=INTEGER}, #{principal_id,jdbcType=INTEGER}, 
      #{protocol,jdbcType=TINYINT}, #{protocol_desc,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{type_desc,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{state_desc,jdbcType=VARCHAR}, 
      #{is_admin_endpoint,jdbcType=BIT}, #{is_sql_language_enabled,jdbcType=BIT}, #{wsdl_generator_procedure,jdbcType=VARCHAR}, 
      #{default_database,jdbcType=VARCHAR}, #{default_namespace,jdbcType=VARCHAR}, #{default_result_schema,jdbcType=TINYINT}, 
      #{default_result_schema_desc,jdbcType=VARCHAR}, #{is_xml_charset_enforced,jdbcType=BIT}, 
      #{is_session_enabled,jdbcType=BIT}, #{session_timeout,jdbcType=INTEGER}, #{login_type,jdbcType=VARCHAR}, 
      #{header_limit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.SoapEndpoints">
    insert into soap_endpoints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="endpoint_id != null">
        endpoint_id,
      </if>
      <if test="principal_id != null">
        principal_id,
      </if>
      <if test="protocol != null">
        protocol,
      </if>
      <if test="protocol_desc != null">
        protocol_desc,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="type_desc != null">
        type_desc,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="state_desc != null">
        state_desc,
      </if>
      <if test="is_admin_endpoint != null">
        is_admin_endpoint,
      </if>
      <if test="is_sql_language_enabled != null">
        is_sql_language_enabled,
      </if>
      <if test="wsdl_generator_procedure != null">
        wsdl_generator_procedure,
      </if>
      <if test="default_database != null">
        default_database,
      </if>
      <if test="default_namespace != null">
        default_namespace,
      </if>
      <if test="default_result_schema != null">
        default_result_schema,
      </if>
      <if test="default_result_schema_desc != null">
        default_result_schema_desc,
      </if>
      <if test="is_xml_charset_enforced != null">
        is_xml_charset_enforced,
      </if>
      <if test="is_session_enabled != null">
        is_session_enabled,
      </if>
      <if test="session_timeout != null">
        session_timeout,
      </if>
      <if test="login_type != null">
        login_type,
      </if>
      <if test="header_limit != null">
        header_limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="endpoint_id != null">
        #{endpoint_id,jdbcType=INTEGER},
      </if>
      <if test="principal_id != null">
        #{principal_id,jdbcType=INTEGER},
      </if>
      <if test="protocol != null">
        #{protocol,jdbcType=TINYINT},
      </if>
      <if test="protocol_desc != null">
        #{protocol_desc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="type_desc != null">
        #{type_desc,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="state_desc != null">
        #{state_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_admin_endpoint != null">
        #{is_admin_endpoint,jdbcType=BIT},
      </if>
      <if test="is_sql_language_enabled != null">
        #{is_sql_language_enabled,jdbcType=BIT},
      </if>
      <if test="wsdl_generator_procedure != null">
        #{wsdl_generator_procedure,jdbcType=VARCHAR},
      </if>
      <if test="default_database != null">
        #{default_database,jdbcType=VARCHAR},
      </if>
      <if test="default_namespace != null">
        #{default_namespace,jdbcType=VARCHAR},
      </if>
      <if test="default_result_schema != null">
        #{default_result_schema,jdbcType=TINYINT},
      </if>
      <if test="default_result_schema_desc != null">
        #{default_result_schema_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_xml_charset_enforced != null">
        #{is_xml_charset_enforced,jdbcType=BIT},
      </if>
      <if test="is_session_enabled != null">
        #{is_session_enabled,jdbcType=BIT},
      </if>
      <if test="session_timeout != null">
        #{session_timeout,jdbcType=INTEGER},
      </if>
      <if test="login_type != null">
        #{login_type,jdbcType=VARCHAR},
      </if>
      <if test="header_limit != null">
        #{header_limit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>