<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.SysdesendMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Sysdesend">
    <result column="handle" jdbcType="CHAR" property="handle" />
    <result column="diagid" jdbcType="CHAR" property="diagid" />
    <result column="initiator" jdbcType="TINYINT" property="initiator" />
    <result column="sendseq" jdbcType="BIGINT" property="sendseq" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ks.monitor.pojo.Sysdesend">
    <result column="sendxact" jdbcType="BINARY" property="sendxact" />
  </resultMap>
  <sql id="Blob_Column_List">
    sendxact
  </sql>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Sysdesend">
    insert into sysdesend (handle, diagid, initiator, 
      sendseq, sendxact)
    values (#{handle,jdbcType=CHAR}, #{diagid,jdbcType=CHAR}, #{initiator,jdbcType=TINYINT}, 
      #{sendseq,jdbcType=BIGINT}, #{sendxact,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Sysdesend">
    insert into sysdesend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="handle != null">
        handle,
      </if>
      <if test="diagid != null">
        diagid,
      </if>
      <if test="initiator != null">
        initiator,
      </if>
      <if test="sendseq != null">
        sendseq,
      </if>
      <if test="sendxact != null">
        sendxact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="handle != null">
        #{handle,jdbcType=CHAR},
      </if>
      <if test="diagid != null">
        #{diagid,jdbcType=CHAR},
      </if>
      <if test="initiator != null">
        #{initiator,jdbcType=TINYINT},
      </if>
      <if test="sendseq != null">
        #{sendseq,jdbcType=BIGINT},
      </if>
      <if test="sendxact != null">
        #{sendxact,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>