<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.SysdatabasesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Sysdatabases">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dbid" jdbcType="SMALLINT" property="dbid" />
    <result column="mode" jdbcType="SMALLINT" property="mode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="status2" jdbcType="INTEGER" property="status2" />
    <result column="crdate" jdbcType="TIMESTAMP" property="crdate" />
    <result column="reserved" jdbcType="TIMESTAMP" property="reserved" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="cmptlevel" jdbcType="TINYINT" property="cmptlevel" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="version" jdbcType="SMALLINT" property="version" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ks.monitor.pojo.Sysdatabases">
    <result column="sid" jdbcType="VARBINARY" property="sid" />
  </resultMap>
  <sql id="Blob_Column_List">
    sid
  </sql>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Sysdatabases">
    insert into sysdatabases (name, dbid, mode, 
      status, status2, crdate, 
      reserved, category, cmptlevel, 
      filename, version, sid
      )
    values (#{name,jdbcType=VARCHAR}, #{dbid,jdbcType=SMALLINT}, #{mode,jdbcType=SMALLINT}, 
      #{status,jdbcType=INTEGER}, #{status2,jdbcType=INTEGER}, #{crdate,jdbcType=TIMESTAMP}, 
      #{reserved,jdbcType=TIMESTAMP}, #{category,jdbcType=INTEGER}, #{cmptlevel,jdbcType=TINYINT}, 
      #{filename,jdbcType=VARCHAR}, #{version,jdbcType=SMALLINT}, #{sid,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Sysdatabases">
    insert into sysdatabases
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="dbid != null">
        dbid,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="status2 != null">
        status2,
      </if>
      <if test="crdate != null">
        crdate,
      </if>
      <if test="reserved != null">
        reserved,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="cmptlevel != null">
        cmptlevel,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dbid != null">
        #{dbid,jdbcType=SMALLINT},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="status2 != null">
        #{status2,jdbcType=INTEGER},
      </if>
      <if test="crdate != null">
        #{crdate,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved != null">
        #{reserved,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="cmptlevel != null">
        #{cmptlevel,jdbcType=TINYINT},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=SMALLINT},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
</mapper>