<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.SysguidrefsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Sysguidrefs">
    <result column="class" jdbcType="TINYINT" property="class" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="subid" jdbcType="INTEGER" property="subid" />
    <result column="guid" jdbcType="CHAR" property="guid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Sysguidrefs">
    insert into sysguidrefs (class, id, subid, 
      guid, status)
    values (#{class,jdbcType=TINYINT}, #{id,jdbcType=INTEGER}, #{subid,jdbcType=INTEGER}, 
      #{guid,jdbcType=CHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Sysguidrefs">
    insert into sysguidrefs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="class != null">
        class,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="subid != null">
        subid,
      </if>
      <if test="guid != null">
        guid,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="class != null">
        #{class,jdbcType=TINYINT},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subid != null">
        #{subid,jdbcType=INTEGER},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>