<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.TraceEventBindingsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.TraceEventBindings">
    <result column="trace_event_id" jdbcType="SMALLINT" property="trace_event_id" />
    <result column="trace_column_id" jdbcType="SMALLINT" property="trace_column_id" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.TraceEventBindings">
    insert into trace_event_bindings (trace_event_id, trace_column_id
      )
    values (#{trace_event_id,jdbcType=SMALLINT}, #{trace_column_id,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.TraceEventBindings">
    insert into trace_event_bindings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trace_event_id != null">
        trace_event_id,
      </if>
      <if test="trace_column_id != null">
        trace_column_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trace_event_id != null">
        #{trace_event_id,jdbcType=SMALLINT},
      </if>
      <if test="trace_column_id != null">
        #{trace_column_id,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>