<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.TraceSubclassValuesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.TraceSubclassValues">
    <result column="trace_event_id" jdbcType="SMALLINT" property="trace_event_id" />
    <result column="trace_column_id" jdbcType="SMALLINT" property="trace_column_id" />
    <result column="subclass_name" jdbcType="VARCHAR" property="subclass_name" />
    <result column="subclass_value" jdbcType="SMALLINT" property="subclass_value" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.TraceSubclassValues">
    insert into trace_subclass_values (trace_event_id, trace_column_id, 
      subclass_name, subclass_value)
    values (#{trace_event_id,jdbcType=SMALLINT}, #{trace_column_id,jdbcType=SMALLINT}, 
      #{subclass_name,jdbcType=VARCHAR}, #{subclass_value,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.TraceSubclassValues">
    insert into trace_subclass_values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trace_event_id != null">
        trace_event_id,
      </if>
      <if test="trace_column_id != null">
        trace_column_id,
      </if>
      <if test="subclass_name != null">
        subclass_name,
      </if>
      <if test="subclass_value != null">
        subclass_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trace_event_id != null">
        #{trace_event_id,jdbcType=SMALLINT},
      </if>
      <if test="trace_column_id != null">
        #{trace_column_id,jdbcType=SMALLINT},
      </if>
      <if test="subclass_name != null">
        #{subclass_name,jdbcType=VARCHAR},
      </if>
      <if test="subclass_value != null">
        #{subclass_value,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>