<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.TriggersMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Triggers">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="object_id" jdbcType="INTEGER" property="object_id" />
    <result column="parent_class" jdbcType="TINYINT" property="parent_class" />
    <result column="parent_class_desc" jdbcType="VARCHAR" property="parent_class_desc" />
    <result column="parent_id" jdbcType="INTEGER" property="parent_id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="type_desc" jdbcType="VARCHAR" property="type_desc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modify_date" />
    <result column="is_ms_shipped" jdbcType="BIT" property="is_ms_shipped" />
    <result column="is_disabled" jdbcType="BIT" property="is_disabled" />
    <result column="is_not_for_replication" jdbcType="BIT" property="is_not_for_replication" />
    <result column="is_instead_of_trigger" jdbcType="BIT" property="is_instead_of_trigger" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Triggers">
    insert into triggers (name, object_id, parent_class, 
      parent_class_desc, parent_id, type, 
      type_desc, create_date, modify_date, 
      is_ms_shipped, is_disabled, is_not_for_replication, 
      is_instead_of_trigger)
    values (#{name,jdbcType=VARCHAR}, #{object_id,jdbcType=INTEGER}, #{parent_class,jdbcType=TINYINT}, 
      #{parent_class_desc,jdbcType=VARCHAR}, #{parent_id,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{type_desc,jdbcType=VARCHAR}, #{create_date,jdbcType=TIMESTAMP}, #{modify_date,jdbcType=TIMESTAMP}, 
      #{is_ms_shipped,jdbcType=BIT}, #{is_disabled,jdbcType=BIT}, #{is_not_for_replication,jdbcType=BIT}, 
      #{is_instead_of_trigger,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Triggers">
    insert into triggers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="object_id != null">
        object_id,
      </if>
      <if test="parent_class != null">
        parent_class,
      </if>
      <if test="parent_class_desc != null">
        parent_class_desc,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="type_desc != null">
        type_desc,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="modify_date != null">
        modify_date,
      </if>
      <if test="is_ms_shipped != null">
        is_ms_shipped,
      </if>
      <if test="is_disabled != null">
        is_disabled,
      </if>
      <if test="is_not_for_replication != null">
        is_not_for_replication,
      </if>
      <if test="is_instead_of_trigger != null">
        is_instead_of_trigger,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="object_id != null">
        #{object_id,jdbcType=INTEGER},
      </if>
      <if test="parent_class != null">
        #{parent_class,jdbcType=TINYINT},
      </if>
      <if test="parent_class_desc != null">
        #{parent_class_desc,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="type_desc != null">
        #{type_desc,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date != null">
        #{modify_date,jdbcType=TIMESTAMP},
      </if>
      <if test="is_ms_shipped != null">
        #{is_ms_shipped,jdbcType=BIT},
      </if>
      <if test="is_disabled != null">
        #{is_disabled,jdbcType=BIT},
      </if>
      <if test="is_not_for_replication != null">
        #{is_not_for_replication,jdbcType=BIT},
      </if>
      <if test="is_instead_of_trigger != null">
        #{is_instead_of_trigger,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>