<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.TypeAssemblyUsagesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.TypeAssemblyUsages">
    <result column="user_type_id" jdbcType="INTEGER" property="user_type_id" />
    <result column="assembly_id" jdbcType="INTEGER" property="assembly_id" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.TypeAssemblyUsages">
    insert into type_assembly_usages (user_type_id, assembly_id)
    values (#{user_type_id,jdbcType=INTEGER}, #{assembly_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.TypeAssemblyUsages">
    insert into type_assembly_usages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_type_id != null">
        user_type_id,
      </if>
      <if test="assembly_id != null">
        assembly_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_type_id != null">
        #{user_type_id,jdbcType=INTEGER},
      </if>
      <if test="assembly_id != null">
        #{assembly_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>