<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.UfnsplitcMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Ufnsplitc">
    <result column="COL" jdbcType="VARCHAR" property="COL" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Ufnsplitc">
    insert into ufnSplitC (COL)
    values (#{COL,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Ufnsplitc">
    insert into ufnSplitC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="COL != null">
        COL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="COL != null">
        #{COL,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>