<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.ViewsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Views">
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="TABLE_CATALOG" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="TABLE_SCHEMA" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="TABLE_NAME" />
    <result column="VIEW_DEFINITION" jdbcType="VARCHAR" property="VIEW_DEFINITION" />
    <result column="CHECK_OPTION" jdbcType="VARCHAR" property="CHECK_OPTION" />
    <result column="IS_UPDATABLE" jdbcType="VARCHAR" property="IS_UPDATABLE" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Views">
    insert into VIEWS (TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      VIEW_DEFINITION, CHECK_OPTION, IS_UPDATABLE
      )
    values (#{TABLE_CATALOG,jdbcType=VARCHAR}, #{TABLE_SCHEMA,jdbcType=VARCHAR}, #{TABLE_NAME,jdbcType=VARCHAR}, 
      #{VIEW_DEFINITION,jdbcType=VARCHAR}, #{CHECK_OPTION,jdbcType=VARCHAR}, #{IS_UPDATABLE,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Views">
    insert into VIEWS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="TABLE_CATALOG != null">
        TABLE_CATALOG,
      </if>
      <if test="TABLE_SCHEMA != null">
        TABLE_SCHEMA,
      </if>
      <if test="TABLE_NAME != null">
        TABLE_NAME,
      </if>
      <if test="VIEW_DEFINITION != null">
        VIEW_DEFINITION,
      </if>
      <if test="CHECK_OPTION != null">
        CHECK_OPTION,
      </if>
      <if test="IS_UPDATABLE != null">
        IS_UPDATABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="TABLE_CATALOG != null">
        #{TABLE_CATALOG,jdbcType=VARCHAR},
      </if>
      <if test="TABLE_SCHEMA != null">
        #{TABLE_SCHEMA,jdbcType=VARCHAR},
      </if>
      <if test="TABLE_NAME != null">
        #{TABLE_NAME,jdbcType=VARCHAR},
      </if>
      <if test="VIEW_DEFINITION != null">
        #{VIEW_DEFINITION,jdbcType=VARCHAR},
      </if>
      <if test="CHECK_OPTION != null">
        #{CHECK_OPTION,jdbcType=VARCHAR},
      </if>
      <if test="IS_UPDATABLE != null">
        #{IS_UPDATABLE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.Views">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="object_id" jdbcType="INTEGER" property="object_id" />
    <result column="principal_id" jdbcType="INTEGER" property="principal_id" />
    <result column="schema_id" jdbcType="INTEGER" property="schema_id" />
    <result column="parent_object_id" jdbcType="INTEGER" property="parent_object_id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="type_desc" jdbcType="VARCHAR" property="type_desc" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modify_date" />
    <result column="is_ms_shipped" jdbcType="BIT" property="is_ms_shipped" />
    <result column="is_published" jdbcType="BIT" property="is_published" />
    <result column="is_schema_published" jdbcType="BIT" property="is_schema_published" />
    <result column="is_replicated" jdbcType="BIT" property="is_replicated" />
    <result column="has_replication_filter" jdbcType="BIT" property="has_replication_filter" />
    <result column="has_opaque_metadata" jdbcType="BIT" property="has_opaque_metadata" />
    <result column="has_unchecked_assembly_data" jdbcType="BIT" property="has_unchecked_assembly_data" />
    <result column="with_check_option" jdbcType="BIT" property="with_check_option" />
    <result column="is_date_correlation_view" jdbcType="BIT" property="is_date_correlation_view" />
    <result column="is_tracked_by_cdc" jdbcType="BIT" property="is_tracked_by_cdc" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.Views">
    insert into views (name, object_id, principal_id, 
      schema_id, parent_object_id, type, 
      type_desc, create_date, modify_date, 
      is_ms_shipped, is_published, is_schema_published, 
      is_replicated, has_replication_filter, has_opaque_metadata, 
      has_unchecked_assembly_data, with_check_option, 
      is_date_correlation_view, is_tracked_by_cdc)
    values (#{name,jdbcType=VARCHAR}, #{object_id,jdbcType=INTEGER}, #{principal_id,jdbcType=INTEGER}, 
      #{schema_id,jdbcType=INTEGER}, #{parent_object_id,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{type_desc,jdbcType=VARCHAR}, #{create_date,jdbcType=TIMESTAMP}, #{modify_date,jdbcType=TIMESTAMP}, 
      #{is_ms_shipped,jdbcType=BIT}, #{is_published,jdbcType=BIT}, #{is_schema_published,jdbcType=BIT}, 
      #{is_replicated,jdbcType=BIT}, #{has_replication_filter,jdbcType=BIT}, #{has_opaque_metadata,jdbcType=BIT}, 
      #{has_unchecked_assembly_data,jdbcType=BIT}, #{with_check_option,jdbcType=BIT}, 
      #{is_date_correlation_view,jdbcType=BIT}, #{is_tracked_by_cdc,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.Views">
    insert into views
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="object_id != null">
        object_id,
      </if>
      <if test="principal_id != null">
        principal_id,
      </if>
      <if test="schema_id != null">
        schema_id,
      </if>
      <if test="parent_object_id != null">
        parent_object_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="type_desc != null">
        type_desc,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="modify_date != null">
        modify_date,
      </if>
      <if test="is_ms_shipped != null">
        is_ms_shipped,
      </if>
      <if test="is_published != null">
        is_published,
      </if>
      <if test="is_schema_published != null">
        is_schema_published,
      </if>
      <if test="is_replicated != null">
        is_replicated,
      </if>
      <if test="has_replication_filter != null">
        has_replication_filter,
      </if>
      <if test="has_opaque_metadata != null">
        has_opaque_metadata,
      </if>
      <if test="has_unchecked_assembly_data != null">
        has_unchecked_assembly_data,
      </if>
      <if test="with_check_option != null">
        with_check_option,
      </if>
      <if test="is_date_correlation_view != null">
        is_date_correlation_view,
      </if>
      <if test="is_tracked_by_cdc != null">
        is_tracked_by_cdc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="object_id != null">
        #{object_id,jdbcType=INTEGER},
      </if>
      <if test="principal_id != null">
        #{principal_id,jdbcType=INTEGER},
      </if>
      <if test="schema_id != null">
        #{schema_id,jdbcType=INTEGER},
      </if>
      <if test="parent_object_id != null">
        #{parent_object_id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="type_desc != null">
        #{type_desc,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date != null">
        #{modify_date,jdbcType=TIMESTAMP},
      </if>
      <if test="is_ms_shipped != null">
        #{is_ms_shipped,jdbcType=BIT},
      </if>
      <if test="is_published != null">
        #{is_published,jdbcType=BIT},
      </if>
      <if test="is_schema_published != null">
        #{is_schema_published,jdbcType=BIT},
      </if>
      <if test="is_replicated != null">
        #{is_replicated,jdbcType=BIT},
      </if>
      <if test="has_replication_filter != null">
        #{has_replication_filter,jdbcType=BIT},
      </if>
      <if test="has_opaque_metadata != null">
        #{has_opaque_metadata,jdbcType=BIT},
      </if>
      <if test="has_unchecked_assembly_data != null">
        #{has_unchecked_assembly_data,jdbcType=BIT},
      </if>
      <if test="with_check_option != null">
        #{with_check_option,jdbcType=BIT},
      </if>
      <if test="is_date_correlation_view != null">
        #{is_date_correlation_view,jdbcType=BIT},
      </if>
      <if test="is_tracked_by_cdc != null">
        #{is_tracked_by_cdc,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>