<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.XmlIndexesMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.XmlIndexes">
    <result column="object_id" jdbcType="INTEGER" property="object_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="index_id" jdbcType="INTEGER" property="index_id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="type_desc" jdbcType="VARCHAR" property="type_desc" />
    <result column="is_unique" jdbcType="BIT" property="is_unique" />
    <result column="data_space_id" jdbcType="INTEGER" property="data_space_id" />
    <result column="ignore_dup_key" jdbcType="BIT" property="ignore_dup_key" />
    <result column="is_primary_key" jdbcType="BIT" property="is_primary_key" />
    <result column="is_unique_constraint" jdbcType="BIT" property="is_unique_constraint" />
    <result column="fill_factor" jdbcType="TINYINT" property="fill_factor" />
    <result column="is_padded" jdbcType="BIT" property="is_padded" />
    <result column="is_disabled" jdbcType="BIT" property="is_disabled" />
    <result column="is_hypothetical" jdbcType="BIT" property="is_hypothetical" />
    <result column="allow_row_locks" jdbcType="BIT" property="allow_row_locks" />
    <result column="allow_page_locks" jdbcType="BIT" property="allow_page_locks" />
    <result column="using_xml_index_id" jdbcType="INTEGER" property="using_xml_index_id" />
    <result column="secondary_type" jdbcType="CHAR" property="secondary_type" />
    <result column="secondary_type_desc" jdbcType="VARCHAR" property="secondary_type_desc" />
    <result column="has_filter" jdbcType="BIT" property="has_filter" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ks.monitor.pojo.XmlIndexes">
    <result column="filter_definition" jdbcType="CLOB" property="filter_definition" />
  </resultMap>
  <sql id="Blob_Column_List">
    filter_definition
  </sql>
  <insert id="insert" parameterType="com.ks.monitor.pojo.XmlIndexes">
    insert into xml_indexes (object_id, name, index_id, 
      type, type_desc, is_unique, 
      data_space_id, ignore_dup_key, is_primary_key, 
      is_unique_constraint, fill_factor, is_padded, 
      is_disabled, is_hypothetical, allow_row_locks, 
      allow_page_locks, using_xml_index_id, secondary_type, 
      secondary_type_desc, has_filter, filter_definition
      )
    values (#{object_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{index_id,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{type_desc,jdbcType=VARCHAR}, #{is_unique,jdbcType=BIT}, 
      #{data_space_id,jdbcType=INTEGER}, #{ignore_dup_key,jdbcType=BIT}, #{is_primary_key,jdbcType=BIT}, 
      #{is_unique_constraint,jdbcType=BIT}, #{fill_factor,jdbcType=TINYINT}, #{is_padded,jdbcType=BIT}, 
      #{is_disabled,jdbcType=BIT}, #{is_hypothetical,jdbcType=BIT}, #{allow_row_locks,jdbcType=BIT}, 
      #{allow_page_locks,jdbcType=BIT}, #{using_xml_index_id,jdbcType=INTEGER}, #{secondary_type,jdbcType=CHAR}, 
      #{secondary_type_desc,jdbcType=VARCHAR}, #{has_filter,jdbcType=BIT}, #{filter_definition,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.XmlIndexes">
    insert into xml_indexes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="object_id != null">
        object_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="index_id != null">
        index_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="type_desc != null">
        type_desc,
      </if>
      <if test="is_unique != null">
        is_unique,
      </if>
      <if test="data_space_id != null">
        data_space_id,
      </if>
      <if test="ignore_dup_key != null">
        ignore_dup_key,
      </if>
      <if test="is_primary_key != null">
        is_primary_key,
      </if>
      <if test="is_unique_constraint != null">
        is_unique_constraint,
      </if>
      <if test="fill_factor != null">
        fill_factor,
      </if>
      <if test="is_padded != null">
        is_padded,
      </if>
      <if test="is_disabled != null">
        is_disabled,
      </if>
      <if test="is_hypothetical != null">
        is_hypothetical,
      </if>
      <if test="allow_row_locks != null">
        allow_row_locks,
      </if>
      <if test="allow_page_locks != null">
        allow_page_locks,
      </if>
      <if test="using_xml_index_id != null">
        using_xml_index_id,
      </if>
      <if test="secondary_type != null">
        secondary_type,
      </if>
      <if test="secondary_type_desc != null">
        secondary_type_desc,
      </if>
      <if test="has_filter != null">
        has_filter,
      </if>
      <if test="filter_definition != null">
        filter_definition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="object_id != null">
        #{object_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="index_id != null">
        #{index_id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="type_desc != null">
        #{type_desc,jdbcType=VARCHAR},
      </if>
      <if test="is_unique != null">
        #{is_unique,jdbcType=BIT},
      </if>
      <if test="data_space_id != null">
        #{data_space_id,jdbcType=INTEGER},
      </if>
      <if test="ignore_dup_key != null">
        #{ignore_dup_key,jdbcType=BIT},
      </if>
      <if test="is_primary_key != null">
        #{is_primary_key,jdbcType=BIT},
      </if>
      <if test="is_unique_constraint != null">
        #{is_unique_constraint,jdbcType=BIT},
      </if>
      <if test="fill_factor != null">
        #{fill_factor,jdbcType=TINYINT},
      </if>
      <if test="is_padded != null">
        #{is_padded,jdbcType=BIT},
      </if>
      <if test="is_disabled != null">
        #{is_disabled,jdbcType=BIT},
      </if>
      <if test="is_hypothetical != null">
        #{is_hypothetical,jdbcType=BIT},
      </if>
      <if test="allow_row_locks != null">
        #{allow_row_locks,jdbcType=BIT},
      </if>
      <if test="allow_page_locks != null">
        #{allow_page_locks,jdbcType=BIT},
      </if>
      <if test="using_xml_index_id != null">
        #{using_xml_index_id,jdbcType=INTEGER},
      </if>
      <if test="secondary_type != null">
        #{secondary_type,jdbcType=CHAR},
      </if>
      <if test="secondary_type_desc != null">
        #{secondary_type_desc,jdbcType=VARCHAR},
      </if>
      <if test="has_filter != null">
        #{has_filter,jdbcType=BIT},
      </if>
      <if test="filter_definition != null">
        #{filter_definition,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>