<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.XmlSchemaModelGroupsMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.XmlSchemaModelGroups">
    <result column="xml_component_id" jdbcType="INTEGER" property="xml_component_id" />
    <result column="xml_collection_id" jdbcType="INTEGER" property="xml_collection_id" />
    <result column="xml_namespace_id" jdbcType="INTEGER" property="xml_namespace_id" />
    <result column="is_qualified" jdbcType="BIT" property="is_qualified" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="symbol_space" jdbcType="CHAR" property="symbol_space" />
    <result column="symbol_space_desc" jdbcType="VARCHAR" property="symbol_space_desc" />
    <result column="kind" jdbcType="CHAR" property="kind" />
    <result column="kind_desc" jdbcType="VARCHAR" property="kind_desc" />
    <result column="derivation" jdbcType="CHAR" property="derivation" />
    <result column="derivation_desc" jdbcType="VARCHAR" property="derivation_desc" />
    <result column="base_xml_component_id" jdbcType="INTEGER" property="base_xml_component_id" />
    <result column="scoping_xml_component_id" jdbcType="INTEGER" property="scoping_xml_component_id" />
    <result column="compositor" jdbcType="CHAR" property="compositor" />
    <result column="compositor_desc" jdbcType="VARCHAR" property="compositor_desc" />
  </resultMap>
  <insert id="insert" parameterType="com.ks.monitor.pojo.XmlSchemaModelGroups">
    insert into xml_schema_model_groups (xml_component_id, xml_collection_id, 
      xml_namespace_id, is_qualified, name, 
      symbol_space, symbol_space_desc, kind, 
      kind_desc, derivation, derivation_desc, 
      base_xml_component_id, scoping_xml_component_id, 
      compositor, compositor_desc)
    values (#{xml_component_id,jdbcType=INTEGER}, #{xml_collection_id,jdbcType=INTEGER}, 
      #{xml_namespace_id,jdbcType=INTEGER}, #{is_qualified,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, 
      #{symbol_space,jdbcType=CHAR}, #{symbol_space_desc,jdbcType=VARCHAR}, #{kind,jdbcType=CHAR}, 
      #{kind_desc,jdbcType=VARCHAR}, #{derivation,jdbcType=CHAR}, #{derivation_desc,jdbcType=VARCHAR}, 
      #{base_xml_component_id,jdbcType=INTEGER}, #{scoping_xml_component_id,jdbcType=INTEGER}, 
      #{compositor,jdbcType=CHAR}, #{compositor_desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.XmlSchemaModelGroups">
    insert into xml_schema_model_groups
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xml_component_id != null">
        xml_component_id,
      </if>
      <if test="xml_collection_id != null">
        xml_collection_id,
      </if>
      <if test="xml_namespace_id != null">
        xml_namespace_id,
      </if>
      <if test="is_qualified != null">
        is_qualified,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="symbol_space != null">
        symbol_space,
      </if>
      <if test="symbol_space_desc != null">
        symbol_space_desc,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="kind_desc != null">
        kind_desc,
      </if>
      <if test="derivation != null">
        derivation,
      </if>
      <if test="derivation_desc != null">
        derivation_desc,
      </if>
      <if test="base_xml_component_id != null">
        base_xml_component_id,
      </if>
      <if test="scoping_xml_component_id != null">
        scoping_xml_component_id,
      </if>
      <if test="compositor != null">
        compositor,
      </if>
      <if test="compositor_desc != null">
        compositor_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xml_component_id != null">
        #{xml_component_id,jdbcType=INTEGER},
      </if>
      <if test="xml_collection_id != null">
        #{xml_collection_id,jdbcType=INTEGER},
      </if>
      <if test="xml_namespace_id != null">
        #{xml_namespace_id,jdbcType=INTEGER},
      </if>
      <if test="is_qualified != null">
        #{is_qualified,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="symbol_space != null">
        #{symbol_space,jdbcType=CHAR},
      </if>
      <if test="symbol_space_desc != null">
        #{symbol_space_desc,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=CHAR},
      </if>
      <if test="kind_desc != null">
        #{kind_desc,jdbcType=VARCHAR},
      </if>
      <if test="derivation != null">
        #{derivation,jdbcType=CHAR},
      </if>
      <if test="derivation_desc != null">
        #{derivation_desc,jdbcType=VARCHAR},
      </if>
      <if test="base_xml_component_id != null">
        #{base_xml_component_id,jdbcType=INTEGER},
      </if>
      <if test="scoping_xml_component_id != null">
        #{scoping_xml_component_id,jdbcType=INTEGER},
      </if>
      <if test="compositor != null">
        #{compositor,jdbcType=CHAR},
      </if>
      <if test="compositor_desc != null">
        #{compositor_desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>