<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.monitor.mapper.KsTankrealMapper">
  <resultMap id="BaseResultMap" type="com.ks.monitor.pojo.KsTankreal">
    <id column="TankRealID" jdbcType="BIGINT" property="tankRealID" />
    <result column="EquipMentID" jdbcType="BIGINT" property="equipMentID" />
    <result column="RamCode" jdbcType="VARCHAR" property="ramCode" />
    <result column="Volume" jdbcType="DOUBLE" property="volume" />
    <result column="Mass" jdbcType="DOUBLE" property="mass" />
    <result column="Pressure" jdbcType="DOUBLE" property="pressure" />
    <result column="TankLevel" jdbcType="DOUBLE" property="tankLevel" />
    <result column="SaturationPressure" jdbcType="DOUBLE" property="saturationPressure" />
    <result column="TankLevelMinSet" jdbcType="DOUBLE" property="tankLevelMinSet" />
    <result column="TankLevelMaxSet" jdbcType="DOUBLE" property="tankLevelMaxSet" />
    <result column="SaturationPressureSet" jdbcType="DOUBLE" property="saturationPressureSet" />
    <result column="Electric" jdbcType="SMALLINT" property="electric" />
    <result column="Door" jdbcType="SMALLINT" property="door" />
    <result column="ColTime" jdbcType="TIMESTAMP" property="colTime" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="Status" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    TankRealID, EquipMentID, RamCode, Volume, Mass, Pressure, TankLevel, SaturationPressure, 
    TankLevelMinSet, TankLevelMaxSet, SaturationPressureSet, Electric, Door, ColTime, 
    AddTime, Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KS_TankReal
    where TankRealID = #{tankRealID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from KS_TankReal
    where TankRealID = #{tankRealID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ks.monitor.pojo.KsTankreal">
    insert into KS_TankReal (TankRealID, EquipMentID, RamCode, 
      Volume, Mass, Pressure, 
      TankLevel, SaturationPressure, TankLevelMinSet, 
      TankLevelMaxSet, SaturationPressureSet, Electric, 
      Door, ColTime, AddTime, 
      Status)
    values (#{tankRealID,jdbcType=BIGINT}, #{equipMentID,jdbcType=BIGINT}, #{ramCode,jdbcType=VARCHAR}, 
      #{volume,jdbcType=DOUBLE}, #{mass,jdbcType=DOUBLE}, #{pressure,jdbcType=DOUBLE}, 
      #{tankLevel,jdbcType=DOUBLE}, #{saturationPressure,jdbcType=DOUBLE}, #{tankLevelMinSet,jdbcType=DOUBLE}, 
      #{tankLevelMaxSet,jdbcType=DOUBLE}, #{saturationPressureSet,jdbcType=DOUBLE}, #{electric,jdbcType=SMALLINT}, 
      #{door,jdbcType=SMALLINT}, #{colTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ks.monitor.pojo.KsTankreal">
    insert into KS_TankReal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tankRealID != null">
        TankRealID,
      </if>
      <if test="equipMentID != null">
        EquipMentID,
      </if>
      <if test="ramCode != null">
        RamCode,
      </if>
      <if test="volume != null">
        Volume,
      </if>
      <if test="mass != null">
        Mass,
      </if>
      <if test="pressure != null">
        Pressure,
      </if>
      <if test="tankLevel != null">
        TankLevel,
      </if>
      <if test="saturationPressure != null">
        SaturationPressure,
      </if>
      <if test="tankLevelMinSet != null">
        TankLevelMinSet,
      </if>
      <if test="tankLevelMaxSet != null">
        TankLevelMaxSet,
      </if>
      <if test="saturationPressureSet != null">
        SaturationPressureSet,
      </if>
      <if test="electric != null">
        Electric,
      </if>
      <if test="door != null">
        Door,
      </if>
      <if test="colTime != null">
        ColTime,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="status != null">
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tankRealID != null">
        #{tankRealID,jdbcType=BIGINT},
      </if>
      <if test="equipMentID != null">
        #{equipMentID,jdbcType=BIGINT},
      </if>
      <if test="ramCode != null">
        #{ramCode,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=DOUBLE},
      </if>
      <if test="mass != null">
        #{mass,jdbcType=DOUBLE},
      </if>
      <if test="pressure != null">
        #{pressure,jdbcType=DOUBLE},
      </if>
      <if test="tankLevel != null">
        #{tankLevel,jdbcType=DOUBLE},
      </if>
      <if test="saturationPressure != null">
        #{saturationPressure,jdbcType=DOUBLE},
      </if>
      <if test="tankLevelMinSet != null">
        #{tankLevelMinSet,jdbcType=DOUBLE},
      </if>
      <if test="tankLevelMaxSet != null">
        #{tankLevelMaxSet,jdbcType=DOUBLE},
      </if>
      <if test="saturationPressureSet != null">
        #{saturationPressureSet,jdbcType=DOUBLE},
      </if>
      <if test="electric != null">
        #{electric,jdbcType=SMALLINT},
      </if>
      <if test="door != null">
        #{door,jdbcType=SMALLINT},
      </if>
      <if test="colTime != null">
        #{colTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ks.monitor.pojo.KsTankreal">
    update KS_TankReal
    <set>
      <if test="equipMentID != null">
        EquipMentID = #{equipMentID,jdbcType=BIGINT},
      </if>
      <if test="ramCode != null">
        RamCode = #{ramCode,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        Volume = #{volume,jdbcType=DOUBLE},
      </if>
      <if test="mass != null">
        Mass = #{mass,jdbcType=DOUBLE},
      </if>
      <if test="pressure != null">
        Pressure = #{pressure,jdbcType=DOUBLE},
      </if>
      <if test="tankLevel != null">
        TankLevel = #{tankLevel,jdbcType=DOUBLE},
      </if>
      <if test="saturationPressure != null">
        SaturationPressure = #{saturationPressure,jdbcType=DOUBLE},
      </if>
      <if test="tankLevelMinSet != null">
        TankLevelMinSet = #{tankLevelMinSet,jdbcType=DOUBLE},
      </if>
      <if test="tankLevelMaxSet != null">
        TankLevelMaxSet = #{tankLevelMaxSet,jdbcType=DOUBLE},
      </if>
      <if test="saturationPressureSet != null">
        SaturationPressureSet = #{saturationPressureSet,jdbcType=DOUBLE},
      </if>
      <if test="electric != null">
        Electric = #{electric,jdbcType=SMALLINT},
      </if>
      <if test="door != null">
        Door = #{door,jdbcType=SMALLINT},
      </if>
      <if test="colTime != null">
        ColTime = #{colTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where TankRealID = #{tankRealID,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ks.monitor.pojo.KsTankreal">
    update KS_TankReal
    set EquipMentID = #{equipMentID,jdbcType=BIGINT},
      RamCode = #{ramCode,jdbcType=VARCHAR},
      Volume = #{volume,jdbcType=DOUBLE},
      Mass = #{mass,jdbcType=DOUBLE},
      Pressure = #{pressure,jdbcType=DOUBLE},
      TankLevel = #{tankLevel,jdbcType=DOUBLE},
      SaturationPressure = #{saturationPressure,jdbcType=DOUBLE},
      TankLevelMinSet = #{tankLevelMinSet,jdbcType=DOUBLE},
      TankLevelMaxSet = #{tankLevelMaxSet,jdbcType=DOUBLE},
      SaturationPressureSet = #{saturationPressureSet,jdbcType=DOUBLE},
      Electric = #{electric,jdbcType=SMALLINT},
      Door = #{door,jdbcType=SMALLINT},
      ColTime = #{colTime,jdbcType=TIMESTAMP},
      AddTime = #{addTime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=SMALLINT}
    where TankRealID = #{tankRealID,jdbcType=BIGINT}
  </update>
</mapper>